In [8]:
import pandas as pd

negative_df = pd.read_csv('../text_model/negative_df.csv', index_col=0)
white_stats_df = pd.read_csv('../data/white_stats.csv', index_col=0)
expression_preds = pd.read_excel('../data/BRCA_predicted_subtypes.xlsx')
text_preds = pd.read_csv('../data/text_predicted_subtypes.csv').rename({'patient_id': 'patients_id'}, axis=1)
base_metadata_df = pd.read_csv('../data/TCGA_breast_patch/metadata.csv', index_col=0)

In [9]:
text_preds.head()

    patients_id labels
0  TCGA-B6-A0RQ   TNBC
1  TCGA-E9-A5UO   TNBC
2  TCGA-B6-A0WX   TNBC
3  TCGA-BH-A1FU    HR+
4  TCGA-5L-AAT1    HR+

In [10]:
white_stats_df['patients_id'] = white_stats_df['0'].apply(lambda x: '-'.join(x.split('/')[6].split('-')[0:3]))

In [18]:
len(set(negative_df.index).intersection(set(white_stats_df['patients_id'].unique())))

101

In [5]:
text_preds

      patient_id labels
0   TCGA-B6-A0RQ   TNBC
1   TCGA-E9-A5UO   TNBC
2   TCGA-B6-A0WX   TNBC
3   TCGA-BH-A1FU    HR+
4   TCGA-5L-AAT1    HR+
..           ...    ...
86  TCGA-E9-A1RC    HR+
87  TCGA-BH-A8FZ    HR+
88  TCGA-E9-A2JS  HER2+
89  TCGA-B6-A0RE    HR+
90  TCGA-B6-A0IQ   TNBC

[91 rows x 2 columns]

In [11]:
expression_preds_metadata = pd.merge(white_stats_df[white_stats_df['1'] <= 0.2], text_preds, on='patients_id')

In [13]:
expression_preds_metadata

,0,1,2,3,patients_id,labels
0,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-4H-AAAK,TNBC
1,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-4H-AAAK,TNBC
2,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-4H-AAAK,TNBC
3,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-4H-AAAK,TNBC
4,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-4H-AAAK,TNBC
...,...,...,...,...,...,...
62399,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000897,45,50176,TCGA-PL-A8LZ,TNBC
62400,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000000,0,50176,TCGA-PL-A8LZ,TNBC
62401,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000040,2,50176,TCGA-PL-A8LZ,TNBC
62402,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.056800,2850,50176,TCGA-PL-A8LZ,TNBC
62403,/mnt/d/uczelnia/magister/TCGA_breast_patch/TCG...,0.000020,1,50176,TCGA-PL-A8LZ,TNBC

In [14]:
expression_preds_metadata = expression_preds_metadata.rename({'0': 'file_name', 'labels': 'label'}, axis=1)[['file_name', 'label']]
expression_preds_metadata['file_name'] = expression_preds_metadata['file_name'].apply(lambda x: x.replace('/mnt/d/uczelnia/magister/', '../data/'))
expression_preds_metadata

                                               file_name label
0      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
1      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
2      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
3      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
4      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
...                                                  ...   ...
62399  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62400  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62401  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62402  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62403  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC

[62404 rows x 2 columns]

In [15]:
pd.concat((base_metadata_df, expression_preds_metadata.rename({'0': 'file_name', 'subtype': 'label'}, axis=1)[['file_name', 'label']])).to_csv('../data/TCGA_breast_patch/text_metadata.csv')

In [16]:
expression_preds_metadata

                                               file_name label
0      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
1      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
2      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
3      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
4      ../data/TCGA_breast_patch/TCGA-4H-AAAK-01A-01-...  TNBC
...                                                  ...   ...
62399  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62400  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62401  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62402  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC
62403  ../data/TCGA_breast_patch/TCGA-PL-A8LZ-01A-03-...  TNBC

[62404 rows x 2 columns]